* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}
body {
	font-size: 16px;
	font-family: 'Yusei Magic', sans-serif;
}

/** HEADER **/
.navbar {
	background-color: #808080;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 20px;
}
.navbar-brand h1 { /* Restaurant name */
	color: 	#000000;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	line-height: .5;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list a {
	color: #1C1C1C;
}
#nav-list a:hover {
	background: #4F4F4F;
	color: #DCDCDC;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -38px;
}
/* END HEADER */

/* HOME PAGE */
#page_heading {
	color: 	black;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
div span {
	font-weight: bold;
}
div p {
	margin: 20px;
}

#main-content {
	margin-right: 20px;
	text-align: center;	
	width: 100%;
}
#chicken {
	background-color: #7FFFD4;
	margin-bottom: 10px;
}
#beef {
	background-color: 	#DAA520;
	margin-bottom: 10px;
}
#sushi {
	background-color: #DB7093;
}

/* END HOME PAGE */